.homeHeader {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.introScreen {
  position: absolute;
  inset: 0;
  background: rgb(238, 236, 236);
  height: 100vh;
  z-index: 10;
  display: flex;
  flex-direction: column;
  padding: 4rem 0 0 4rem;
}
.introScreen h1 {
  font-size: 5vw;
  font-weight: bolder;
  color: var(--background);
  margin: 0;
  padding-bottom: 2rem;
  color: #0c2d57;
}
.background {
  position: absolute;
  top: 0;
  filter: brightness(60%);
}

.background img {
  object-fit: cover;
  height: 146vh;
  width: 100vw;
}

.introContainer h1 {
  color: white;
  font-size: 7vw;
  z-index: 3;
  text-align: center;
  white-space: nowrap;
  font-family: "Space Grotesk", Courier, monospace;
}

.introContainer {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 35vh;
}

.introImage {
  filter: brightness(70%);
  position: absolute;
  border: 1px solid gray;
}

.introImage img {
  object-fit: cover;
  object-position: top;
  width: 350px;
  height: 475px;
}

.homeHeader > .link {
  position: absolute;
  padding-left: 10px;

  left: 0;
  display: flex;
  flex-direction: column;
  bottom: -130px;
  gap: 1rem;
  cursor: pointer;
}
.link img {
  width: 16px;
  border: 1px solid beige;
  border-radius: 8px;
  padding: 10px;
  backdrop-filter: blur(18px);
}

.link img:hover {
  backdrop-filter: none;
}

@media screen and (max-width: 500px) {
  .introScreen {
    display: flex;
    justify-content: start;
    align-items: start;
    padding-top: 40%;
  }
}
