.wrapper {
  padding-top: 30vh;
  width: 100vw;
  padding-bottom: 10vh;
  background: #0c2d57;
}
.wrapper h2 {
  text-align: center;
  font-size: 7rem;
  font-weight: bold;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 2rem;
}

.container h2 {
  font-size: 24px;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: bold;
  border: 1.3px solid gray;
  padding: 2rem;
  margin: 0 1rem;
  background-color: #0c2d57;
  color: rgb(199, 197, 197);
}

@media screen and (max-width: 480px) {
  .wrapper h2 {
    font-size: 3rem;
  }
}
