.wrapper {
  padding: 10rem auto;
  background-color: var(--primary);
  color: #0c2d57;
}
.container {
  position: relative;
  display: flex;
  gap: 6rem;
  justify-content: space-between;
  align-items: center;
  margin: 6vw 10vw;

  padding: 0 4rem;
}
.profil {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transform: translateY(+50px);
  border-radius: 1.5rem;
  padding: 1rem;
  width: 100rem;
}
.profil img {
  width: 100%;
  border-radius: 10px;
  border: 1.2px solid #0c2d57;
}

.profil .name {
  font-size: medium;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 24px;
}

.description {
  display: block;
  width: 160rem;
}
.description a {
  color: #0c2d57;
}

.media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.media hr {
  width: 100px;
  border: #0c2d57 solid 1px;
  background: var(--background);
  height: 0.4px;
}
.media svg {
  border: var(--background) 1px solid;
  border-radius: 5px;
  margin: 4px;
  padding: 2px;
  width: 12px;
  height: 12px;
}

@media screen and (max-width: 480px) {
  .wrapper {
    margin-top: 12rem;
  }
  .container {
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 0;
    background-color: var(--background);
  }
  .profil {
    gap: 1rem;
    width: 80%;
    margin: 0;
    flex-direction: row;
    padding: 0;
    margin: 10px 0;
  }
  .profil img {
    width: 200px;
    height: 100px;
  }
  .description {
    background-color: var(--primary);
    width: 100vw;
    position: relative;
    padding: 20px;
  }
  .paragraph {
    padding: 0 10px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    width: 100vw;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    background-color: var(--primary);
  }
  .profil {
    background: var(--secondary);
  }
}

@media screen and (min-width: 1024px) {
  .container {
    height: 100vh;
  }
}
