.wrapper {
  padding: 10rem 6rem;
  background-color: rgb(179, 96, 165);
  color: #0c2d57;
  z-index: 0;
}
.container {
  position: relative;
  display: flex;
  gap: 5rem;
  align-content: space-between;
  align-items: center;
  margin: 0 4vw;
}
.profil {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgb(221, 132, 231);
  border-radius: 1.5rem;
  padding: 2rem;
}
.profil img {
  width: 100%;
  border-radius: 10px;
  border: 1.2px solid #0c2d57;
}
.profil .name {
  font-size: medium;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 24px;
}
.description {
  display: block;
  font-size: 1.8vw;
}
