.wrapper {
  padding: 10rem auto;
  background-color: rgb(179, 96, 165);
  color: #0c2d57;
}
.container {
  position: relative;
  display: flex;
  gap: 6rem;
  justify-content: space-between;
  align-items: center;
  margin: 6vw 10vw;
  height: 100vh;

  padding: 0 4rem;
}
.profil {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transform: translateY(+50px);
  border-radius: 1.5rem;
  padding: 1rem;
  width: 100rem;
}
.profil img {
  width: 100%;
  border-radius: 10px;
  border: 1.2px solid #0c2d57;
}

.profil .name {
  font-size: medium;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 24px;
}

.description {
  display: block;
  width: 160rem;
}

.media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.media hr {
  width: 100px;
  border: #0c2d57 solid 1px;
  background: var(--background);
  height: 0.4px;
}
.media svg {
  border: var(--background) 1px solid;
  border-radius: 5px;
  margin: 4px;
  padding: 2px;
  width: 12px;
  height: 12px;
}
