.wrapper {
  padding: 2rem 4rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(4);
  align-items: center;
  justify-content: center;
}

.container p {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  max-width: 50vw;
  text-transform: capitalize;
}

.icon {
  height: 50vh;
  background-color: blueviolet;
}
