.intro {
  position: relative;
  color: white;
  font-size: 2vw;
  text-transform: uppercase;
  margin-top: 10vw;
  margin-left: 10vw;
  max-width: 50vw;
}

.intro p {
  margin: 0px;
  position: relative;
}
