.wrapper {
  border-top: 1px solid var(--color);
  height: 25vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}
.web_link {
  color: red;
}

.container p a {
  color: var(--color);
}

.container p a:hover {
  color: var(--primary);
}

@media screen and (max-width: 500px) {
  .wrapper {
    flex-direction: column;

    padding: 10px;
  }
}
